

  <%# 左側のメニューバー %>
  <%= render 'share/menu_bar.html.erb'%>
  <%# /左側のメニューバー %>

  <div class="matter_side_index">  
    <%= render 'share/search_matter'%>
    <div class="team_main_content">
      <h2><span class="title">最近届いた通知</span></h2>
      <%= render 'share/notifications'%>
    </div>
  </div>
