<div class="team_index">

  <%# 左側のメニューバー %>
  <%= render 'share/menu_bar'%>
  <%# /左側のメニューバー %>

  <div class="team_main_contents">
  
    <%= render 'share/search_matter'%>


    <div class="team_main_content">
      <h1><span class="title">今日やること・明日やること</span></h1>
      <div class="todo_lists">
        <div class="todo_list">
          <div class="todo_day">今日</div>
          <div>〇〇案件の必要書類を作成する</div>
          <div>〇〇案件の必要書類を作成する</div>
          <div>〇〇案件の必要書類を作成する</div>
          <div>〇〇案件の必要書類を作成する</div>
        </div>
        
        <div class="todo_list">
          <div class="todo_day">明日</div>
          <div>〇〇案件の見学準備を行う</div>
          <div>〇〇案件の見学準備を行う</div>
          <div>〇〇案件の見学準備を行う</div>
          <div>〇〇案件の見学準備を行う</div>
        </div>
      </div>
    </div>

  </div>
</div>