

  <%# 左側のメニューバー %>
  <%= render 'share/menu_bar.html.erb'%>
  <%# /左側のメニューバー %>

  <div class="matter_side_index">  
    <%= render 'share/search_matter'%>
    <div class="team_main_content">
      <h1><span class="title">最近追加されたコンタクトログ</span></h1>

  </div>
