<div class="matter_contents">
  <%= render 'share/menu_bar.html.erb'%>
  <div class="left_area">
    <div class="matter_info">
      <h5><span class="title"><%= @matter.name%>のコンタクトログ一覧</span></h5>
      <%= render 'share/contact_logs'%>
    </div>
  </div>
</div>