<div class="matter_contents">
  <%= render 'share/menu_bar.html.erb'%>
  <div class="notifications">
    <h2><span class="title">通知一覧</span></h2>
    <div><%= render 'share/notifications' %></div>
  </div>
</div>