<div class="matter_contents">
  <%= render 'share/menu_bar.html.erb'%>
  <div class="matter_side_index">
    <%= render 'share/search_matter.html.erb'%>
    <div class="matter_main_contents">

      <h1><span class="title">案件一覧</span></h1>
      <%= render 'share/results'%>
    </div>
  </div>
</div>