<div class="matter_contents">
  <%= render 'share/menu_bar.html.erb'%>
  <div class="matter_side_index">
    <%= render 'share/search_matter'%>
    <div class="matter_main_contents">

      <h1><span class="title">検索結果：<%= @customers.count%>件</span></h1>

      <%= render 'share/results'%>
    </div>
  </div>
</div>