.matter_contents, .matter_btn_area, .matter_area,.contact_logs,.matter_title_area{
  display: flex;  
}

.matter_contents{
  height: 100vh;
}

.left_area, .right_area,.matter_side_index{
  padding: 20px;
}

.matter_info,.contact_log_area,.contact_logs_area,.matter_main_contents,.search_form_area,.matter_new_edit_form_side,.matter_new_edit_form_error{
  padding: 30px;
  border-radius: 20px;
  box-shadow:
    0 -3px 5px #e5e5e5,
    0 3px 5px #e5e5e5,
   ;
}

.matter_info,.matter_main_contents,.matter_new_edit_form_side,.matter_new_edit_form_error{
  overflow: scroll;
}

.matter_main_contents{
  height: calc(100% - 250px);
}

.contact_log_area,.contact_logs_area{
  width: 500px;
}

.contact_log_area{
  height: 240px;
  margin-bottom: 30px;
}

.contact_logs_area{
  height: calc(100% - 270px);
}


.matter_info{
  height: 100%;
  width: 650px;
}

.matter_btn_area{
  justify-content: space-between;
  margin-bottom: 20px;
}

.matter_side,.matter_side_index{
  width: calc(100vw - 200px);
  height: 100vh;
  display: flex;
  overflow: scroll;
}

.matter_side_index{
  display: block;
}

.table_title{
  border-bottom: 1px solid gray;
}

.matter_table_record{
  margin-left: 20px;
  margin-right: 20px;
  width: 98%;
  font-size: larger; 
}

.table_records{
  border-bottom: 1px solid silver;
}

.table_record{
  display: block;
}

.new_matter{
  text-align: center;
  margin-bottom: 20px;
}

.new_form_area{
  width: 600px;
  height: 550px;
  padding: 20px;
  border-radius: 20px;
  box-shadow:
    0 -3px 5px #e5e5e5,
    0 3px 5px #e5e5e5,
   ;
}

.matter_new_edit_forms{
  display: flex;
}

.matter_new_edit_form_side,.matter_new_edit_form_error{
  margin: 40px;
  padding: 20px;
}

.matter_new_edit_form_side{
  width: 600px;
}

.matter_new_edit_form_error{
  height: 450px;
  width: 450px;
}

.new_form_input{
  width: 95%;
  height: 30px;
  font-size: 16px;
  border: solid 1px gray;
  border-radius: 5px;
}

.with_announce{
  margin-bottom: 10px;
}

.new_matter_btn{
  display: block;
  height: 40px;
  width: 95%;
  font-size: 16px;
  background-color:#ff9933;
  border: solid 1px #ffffff;
  border-radius: 30px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  border: solid 1px #ff9930;
}

.matter_title{
  font-size: 12px;
}

.matter_text{
  font-size: 20px;
  font-weight: 500;
}

.matter_edit_btn,.postal_search_btn,.chosed_csv_export_btn{
  padding: 3px;
  display: block;
  width: 150px;
  font-size: 16px;
  background-color:#ff9933;
  border: solid 1px #ffffff;
  border-radius: 30px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  border: solid 1px #ff9930;
}

.matter_contactlog_btn,.matter_contactlog_btn2,.postal_search_btn,.chosed_csv_export_btn{
  background-color: #00cc33;
  border: solid 1px #33cc66;
  font-size: 15px;
}

.postal_search_btn{
font-size: 14px;
width: fit-content;
height: fit-content;
padding: 2px;
margin-top: 5px;
}

.matter_csv_right,.chosed_csv_export_btn{
  margin: 0 0 0 auto;
}

.search_count{
  text-align: right;
  font-size: larger;
}

.matter_contactlog_btn2{
  width: 300px;
  font-size: 15px;
}

.matter_destroy_btn{
  background-color: tomato;
}

.search_announce{
  font-size: 20px;
}

.checkbox{
  width: 20px;
  height: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.clear_btn{
  font-size: 15px;
  background-color: #00cc33;
  text-align: center;
  color: #ffffff;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid greenyellow;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.chosed_csv_export_btn{
  width: fit-content;
  display: none;
}