.matter_main_contents{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
  padding: 20px;
  border-radius: 20px;
  box-shadow:
    0 -3px 5px #e5e5e5,
    0 3px 5px #e5e5e5,
   ;
}

.matter_contents, .matter_btn_area{
  display: flex;
  
}

.matter_btn_area{
  justify-content: space-between;
}

.matter_side{
  width: calc(100vw - 200px);
  height: 100vh;
  display: flex;
}

.matter_info{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 700;
}

.table_title{
  border-bottom: 1px solid gray;
}

.matter_table_record{
  margin-left: 20px;
  margin-right: 20px;
  width: 98%;
  font-size: larger; 
}

.table_records{
  border-bottom: 1px solid silver;
}

.table_record{
  display: block;
}

.new_matter{
  text-align: center;
}

.new_form_area{
  width: 600px;
  height: 550px;
  margin-top: 40px;
  margin-left: 40px;
  padding: 20px;
  border-radius: 20px;
  box-shadow:
    0 -3px 5px #e5e5e5,
    0 3px 5px #e5e5e5,
   ;
}

.new_form_input{
  width: 95%;
  height: 30px;
  font-size: 16px;
  border: solid 1px gray;
  border-radius: 5px;
}

.with_announce{
  margin-bottom: 10px;
}

.new_matter_btn{
  height: 40px;
  width: 95%;
  font-size: 16px;
  background-color:#ff9933;
  border: solid 1px #ffffff;
  border-radius: 30px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  border: solid 1px #ff9930;
}

.matter_title{
  font-size: 12px;
}

.matter_text{
  font-size: 20px;
  font-weight: 500;
}

.matter_edit_btn{
  padding: 3px;
  display: block;
  width: 150px;
  font-size: 16px;
  background-color:#ff9933;
  border: solid 1px #ffffff;
  border-radius: 30px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  border: solid 1px #ff9930;
}

.matter_contactlog_btn{
  background-color: #00cc33;
  border: solid 1px #33cc66;
  font-size: 15px;
}

.matter_destroy_btn{
  background-color: tomato;
}