.error_messages{
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.contents{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.registration_title{
  font-size: 30px;
  margin-top: 50px;
}

.registration_title_str{
  border-bottom: 3px solid greenyellow;
}

.forms{
  border: solid 1px silver;
  padding: 50px;
  border-radius: 20px;
}

.field,.field_with_intend{
  margin-bottom: 30px;
}

.field_with_intend{
  margin-left: 30px;
}

.staff{
  width: fit-content;
  margin: 0 0 0 auto;
}
.staff_title{
  text-align: left;
}

.colmun{
  display:flex;
}

.must{
  font-size: 13px;
  padding: 2px;
  border: solid 1px tomato;
  border-radius: 5px;
  background-color: tomato;
  color: #ffffff;
  margin-right: 5px;
}

.optional{
  font-size: 13px;
  padding: 2px;
  border: solid 1px greenyellow;
  border-radius: 5px;
  background-color: #00cc33;
  color: #ffffff;
  margin-right: 5px;

}

.announce{
  font-size: 12px ;
  color: #9f9f9f;
}

.form{
  width: 100%;
  height: 30px;
  font-size: 16px;
  border: solid 1px gray;
  border-radius: 5px;
}

.submit_btn{
  background-color:#ff9933;
  border: solid 1px #ffffff;
  border-radius: 20px;
  color: #ffffff;
  width: 100%;
  height: 50px;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
  transition: all .3s;
}

.submit_btn:hover{
  background-color: yellowgreen;
  border: solid 1px #ffffff;
}
