.main_pic{
  width: 100vw;
  height: 100vh;
  position: relative;
}

.picture{
  width: 100%;
  height: 100%;
}

.main_str{
  padding-bottom: 0px;
  position: absolute;
  top: 0%;
  left: 0%;
  color: #33cc00;
}

.about_shien, .features{
  font-size: x-large;
  margin-bottom: 100px;
}

.feature_text{
  margin:40px 20px ;
}

.title{
  border-bottom: solid 3px greenyellow;
}

.about_shien_text{
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.feature{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.text_side{
  background-color: greenyellow;
  height: 100%;
  width: 40%;
}

.image_side, .team_forms{
  height: 100%;
  width: 40%;
  border: solid 1px silver;
}

.f_picture{
  width: 60%;
  height: 100%;
}

.go_shien{
  background-color: #006666 ;
  color: #ffffff;
  width: fit-content;
  height: 250px;
  padding: 50px;
  border-radius:70px;
  text-align: center;
  font-size: x-large;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.bottom_sign_in_btn{
  display: block;
  background-color: #ff9933;
  color: #ffffff;
  padding: 20px;
  border-radius:30px;
  transition: all .3s;
  margin-top: 15px;
}

.bottom_sign_in_btn:hover{
  background-color: #ffffff;
  border: solid 1px silver;
}


.main_contents{
  height: calc( 100vh - 60px);
  width: 100vw;
}

.team_title, .title_area,.text_side{
  text-align: center;
}

.title_area{
  margin-top: 20px;
}

.team_forms{
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.team_form{
  width: 300px;
  height: 30px;
  font-size: 16px;
  border: solid 1px gray;
  border-radius: 5px;
  margin-bottom: 30px;
}

.team_submit_btn{
  height: 30px;
  font-size: 16px;
  background-color:#ff9933;
  border: solid 1px #ffffff;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  border: solid 1px #ff9930;
}

.column{
  font-size: smaller;
}


.team_index{
  display: flex;
  background-color: #ffffff;
}

.team_menu_bar{
  background-color: #f1f1f1;
  width: 200px;
  height: 100vh;
}

.menu_title{
  text-align: center;
  margin-top: 20px;
}

.menu_title_str{
  font-size: larger;
  border-bottom: black solid 2px;
}

.team_menu{
  width: 100%;
  padding: 10px;
  font-size: 18px;
  display: block;
}

.notice_title{
  text-align: center;
}

.notice_contents{
  display: flex;
  text-align: center;
  justify-content: center;
}

.team_main_content{
  width: 750px;
  height: calc(100% - 270px);
  margin-bottom: 60px;
  padding: 20px;
  border-radius: 20px;
  box-shadow:
    0 -3px 5px #e5e5e5,
    0 3px 5px #e5e5e5,
   ;
}

.search_form_area{
  width: 750px;
  height: 250px;
  margin-bottom: 20px;
}

.search_forms_upper, .todo_lists{
  display: flex;
}

.search_form{
  margin-left: 20px;
}

.search_label{
  font-size: 12px;
}

.search_input{
  width: 300px;
  height: 25px;
  font-size: 16px;
  border: solid 1px gray;
  border-radius: 5px;
  margin-bottom: 10px;
}

.search_submit_btn{
  height: 40px;
  width: 100px;
  font-size: 16px;
  background-color:#ff9933;
  border: solid 1px #ffffff;
  border-radius: 30px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  border: solid 1px #ff9930;
  margin-top: 10px;
  margin-left: 20px;
}

.todo_list{
  margin-left: 20px;
}

.todo_day{
  font-weight: 600;
}